In [ ]:
#scrape usbanklocs for, well.. everything :====

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions as EC
# from selenium.webdriver.common import action_chains

In [67]:
# headers={"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.54 Safari/537.36"}
# bank = 'u-s-bank'
# url =f'https://www.usbanklocations.com/{bank}.shtml'
# page = requests.get(url, headers=headers)
# soup = BeautifulSoup(page.content, 'html.parser')

# # print(soup.prettify())

In [48]:
# base = "https://www.usbanklocations.com/"
# id1 = soup.find_all('div', class_ = 'id1')
# id2 = soup.find_all('div', class_ = 'id2')
# idt = soup.find_all('div', class_ = 'idtitle')
# ids = idt + id1 + id2
# lks = [base + id.find('a', href=True)['href'] for id in ids]
# #to get a sep link set for income and exp section:
# lks_indices = []# indices in lks for all incnexp links
# # chargeoffs+2
# chargeoffs = lks.index('https://www.usbanklocations.com//u-s-bank-financial-info.shtml?t=chargeoffs')
# for i in range(chargeoffs, chargeoffs + 3):
#     lks_indices.append(i)
# #ine
# ine = lks.index('https://www.usbanklocations.com//u-s-bank-financial-info.shtml?t=incomeexpense')
# lks_indices.append(ine)
# #interest income + 7
# ini = lks.index('https://www.usbanklocations.com//u-s-bank-financial-info.shtml?t=interestincome')
# for i in range(ini, ini + 8):
#     lks_indices.append(i)

# links2 = [lks[i] for i in lks_indices]
# links1 = [lk for lk in lks if lk not in links2]
# # print(len(links2)+len(links1))

61

In [68]:

# sub_url = 'https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=assetsliabilities'

# page = requests.get(sub_url, headers=headers)
# soup = BeautifulSoup(page.content, 'html.parser')
# dates = soup.find_all(lambda x : x.name=='td' and x.has_attr('colspan') and x['class']==['iddate'])
# len(dates) # all quarters present
# quarters = [var.text for var in dates]
# # quarters
# len(quarters)

95

In [18]:
# s = 'id2'
# if (re.search("id[0-9]", s)):
#     print(2)

2

In [ ]:
# vals = soup.find_all(lambda x : x.has_attr('align') and x['align'] == 'right')
# vals = [val.text for val in vals]
# values = [vals[i] for i in range(len(vals)) if i%2 == 0] #get only values and not ranks
# values[:32]
# len(values)

4655

In [114]:
"""version 2"""
# at = []
# vars = soup.find_all(lambda x : x.name=='td' and x.has_attr('colspan')==False )
# for var in vars:
#     if var.has_attr('class'):
#         if var['class'][0] != 'iddate':
#             if var.text not in vals:
#                 at.append(var.text)
#     else:
#         if var.text not in vals:
#                 at.append(var.text)
# attributes = at[2:]

4655

In [ ]:
"""version 1"""
# vars = soup.find_all(lambda x : x.name=='td' and x.has_attr('colspan')==False )
# attributes= []
# for var in vars:
#     if var.has_attr('class'):
#         # print(var['class'])
#         if (re.search("id[0-9]", var['class'][0])):
#             attributes.append(var.text)
#     if (var.find('b') and var.has_attr('class') == False):
#         b_text = var.find('b').text
#         if b_text not in vals:
#             attributes.append(b_text)
#     # if (var.find('td').text):
#     #     attributes.append(var.find('td').text)
# # attributes = [var for var in vars]
# len(attributes)
# # attributes[0]
# # list(zip(attributes, values))[:60]

In [70]:
"""version 0"""
# vars = soup.find_all(lambda x : x.name=='td' and x.has_attr('class') and (x['class']==['id0'] or x['class']==['id1'] or x['class']==['id2'] or x['class']==['id3'])and x.has_attr('colspan')==False)
# attributes = [var.text for var in vars]
# len(attributes)
# attributes[0:35]
# len(vars) #10 each for 95 quarters :')

2565

In [141]:
# # list(zip(attributes, values))[:10]
# unique_attrs = int(len(attributes)/len(dates))
# # do above rows of unique attributes and then concat each url's 
# unique_attrs

12

In [130]:
# bank = 'u-s-bank'
# bank_col = [bank for i in range(unique_attrs)]
# attr = attributes[:unique_attrs]
# temp_df = pd.DataFrame(list(zip(attr, bank_col)), columns=['Tag', 'Bank'])
# temp_df.head()
# for i in range(unique_attrs, len(values) + unique_attrs, unique_attrs):
#     li = values[i-unique_attrs : i]
#     l = pd.Series(li)
#     # print(i-unique_attrs, i, int((i-unique_attrs)/unique_attrs))
#     temp_df.insert(temp_df.shape[1], quarters[int((i-unique_attrs)/unique_attrs)], li)
#     # temp_df = pd.concat([temp_df, l], axis=1)
# """Not best Practice!!:===="""

'Not best Practice!!:===='

In [131]:
# temp_df.shape

(34, 97)

In [124]:
def scrape_link(link):#for 1 bank, 1 link
    sub_url = link
    print(link)
    page = requests.get(sub_url, headers=headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    dates = soup.find_all(lambda x : x.name=='td' and x.has_attr('colspan') and x['class']==['iddate'])
    
    quarters = [var.text for var in dates]
    # print(len(quarters)) # all quarters present

    vals = soup.find_all(lambda x : x.has_attr('align') and x['align'] == 'right')
    vals = [val.text for val in vals]
    values = [vals[i] for i in range(len(vals)) if i%2 == 0] #get only values and not ranks
    # print("vals", len(values))


    at = []
    vars = soup.find_all(lambda x : x.name=='td' and x.has_attr('colspan')==False )
    for var in vars:
        if var.has_attr('class'):
            if var['class'][0] != 'iddate':
                if var.text not in vals:
                    at.append(var.text)
        else:
            if var.text not in vals:
                    at.append(var.text)
    attributes = at[2:]

    unique_attrs = int(len(attributes)/len(dates))
    # print(unique_attrs)
    # print("attr", len(attributes))


    bank = 'u-s-bank'
    bank_col = [bank for i in range(unique_attrs)]
    attr = attributes[:unique_attrs]
    temp_df = pd.DataFrame(list(zip(attr, bank_col)), columns=['Tag', 'Bank'])
    for i in range(unique_attrs, len(values), unique_attrs):
        # print(int((i-unique_attrs)/unique_attrs))
        li = values[i-unique_attrs : i]
        l = pd.Series(li)
        # print(i-unique_attrs, i, int((i-unique_attrs)/unique_attrs))
        col = quarters[int((i-unique_attrs)/unique_attrs)]
        col = re.sub("[A-Za-z]+", "", col).replace("(","").replace(')',"")
        temp_df.insert(temp_df.shape[1], col, li)
    
    return temp_df

In [131]:
# link = 'https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=totaldeposits'
# df = scrape_link(link)

https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=totaldeposits

In [126]:
def concat_links(links):#concat dfs for all links for 1 bank
    df = pd.DataFrame()
    for link in links:
        n_df = scrape_link(link)
        df = pd.concat([df, n_df], ignore_index=True)
    return df
# df = concat_links(links)
#2m7.5s

In [135]:
headers={"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.54 Safari/537.36"}
bank = 'u-s-bank'
url =f'https://www.usbanklocations.com/{bank}.shtml'
page = requests.get(url, headers=headers)
soup = BeautifulSoup(page.content, 'html.parser')

base = "https://www.usbanklocations.com/"
id1 = soup.find_all('div', class_ = 'id1')
id2 = soup.find_all('div', class_ = 'id2')
ids = id1 + id2
lks = [base + id.find('a', href=True)['href'] for id in ids]
links = lks[:-3]
len(links)

banks = ['jpmorgan-chase-bank', 'bank-of-america', 'u-s-bank'] # Automate this!!! (from home)

def scrape_all_banks(banks):
    df_1 = pd.DataFrame()
    df_ine = pd.DataFrame()
    base = "https://www.usbanklocations.com/"
    for bank in banks:
        url =f'https://www.usbanklocations.com/{bank}.shtml'
        page = requests.get(url, headers=headers)
        soup = BeautifulSoup(page.content, 'html.parser')
        id1 = soup.find_all('div', class_ = 'id1')
        id2 = soup.find_all('div', class_ = 'id2')
        idt = soup.find_all('div', class_ = 'idtitle')
        ids = idt + id1 + id2
        lks = [base + id.find('a', href=True)['href'] for id in ids]
        #to get a sep link set for income and exp section:
        lks_indices = []# indices in lks for all incnexp links
        # chargeoffs+2
        chargeoffs = lks.index(f'https://www.usbanklocations.com//{bank}-financial-info.shtml?t=chargeoffs')
        for i in range(chargeoffs, chargeoffs + 3):
            lks_indices.append(i)
        #ine
        ine = lks.index(f'https://www.usbanklocations.com//{bank}-financial-info.shtml?t=incomeexpense')
        lks_indices.append(ine)
        #interest income + 7
        ini = lks.index(f'https://www.usbanklocations.com//{bank}-financial-info.shtml?t=interestincome')
        for i in range(ini, ini + 8):
            lks_indices.append(i)

        links2 = [lks[i] for i in lks_indices]
        links1 = [lk for lk in lks if lk not in links2]

        n_df_1 = concat_links(links1)#returns df for 1 bank
        n_df_ine = concat_links(links2)
        df_1 = pd.concat([df_1, n_df_1], ignore_index=True)
        df_ine = pd.concat([df_ine, n_df_ine], ignore_index=True)
    return df_1, df_ine

df_1, df_ine = scrape_all_banks(banks)

https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=assetsliabilities
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=fiduciaryservices
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=carryingamountassetscovered
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=bankassetssold
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=performanceratios
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=cashbalancesdue
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=securities
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=loansleases
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=otherrealestate
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=goodwill
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=totaldeposits
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=changesequitycapital
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=totalunusedcommitments
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=assetsliabilitiesforeignoffices
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=derivatives
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=pastduenonaccrualassets
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=pastdueguaranteed
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=numberfiduciaryasset
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=fiduciaryasset
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=maxcreditexposure
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=unusedcommitments
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=ownershipinterests
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=memoranda
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=chargeoffsloans
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=noncurrentloans2loans
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=governmentobligations
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=totaldebtsecurities
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=familynetloansleases
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=depositoryinstitutions
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=loansleasesforeignoffices
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=maturityrepricing
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=smallbusinessloans
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=loansrestructured
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=transactionaccounts
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=nontransactionaccounts
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=timedeposits100kless
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=timedeposits100kmore
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=depositson100k
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=depositson250k
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=depositsinforeignoffice
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=lettersofcredit
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=pastdue3089days
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=pastdue90days
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=nonaccrualfamily
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=fiduciarymanagedasset
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=corporatetrust
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=collectiveinvestment
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=grossfiduciaryincome
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=fiduciarysettlements
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=chargeoffs
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=recoveries
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=netchargeoffs
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=incomeexpense
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=interestincome
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=interestexpense
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=tradinggainsfees
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=noninterestincome
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=noninterestexpense
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=loanchargerecoveries
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=cashdividends
https://www.usbanklocations.com//jpmorgan-chase-bank-financial-info.shtml?t=interestforeignoffices

In [144]:
df_ine.shape
df_1.head()

,Tag,Bank,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30,2022-03-31,...,2002-12-31,2001-12-31,2000-12-31,1999-12-31,1998-12-31,1997-12-31,1996-12-31,1995-12-31,1994-12-31,1993-12-31
0,# of Employees:,u-s-bank,"226,822","226,649","219,830","221,852","220,271","216,524","210,348","207,949",...,"77,286","67,401","56,567","41,563","42,229","41,670","41,615","24,042","25,546","26,409"
1,Total Assets:,u-s-bank,"$3,395,126,000,000","$3,385,581,000,000","$3,382,195,000,000","$3,267,963,000,000","$3,201,942,000,000","$3,308,575,000,000","$3,380,824,000,000","$3,476,711,000,000",...,"$621,962,000,000","$537,826,000,000","$377,116,000,000","$332,198,000,000","$296,717,000,000","$297,061,000,000","$272,429,000,000","$147,120,000,000","$135,742,000,000","$115,510,000,000"
2,Cash and due from depository institutions,u-s-bank,"$625,344,000,000","$512,606,000,000","$495,678,000,000","$551,018,000,000","$568,546,000,000","$645,394,000,000","$670,549,000,000","$755,227,000,000",...,"$26,518,000,000","$33,891,000,000","$29,256,000,000","$43,436,000,000","$21,720,000,000","$15,856,000,000","$19,966,000,000","$8,934,000,000","$11,775,000,000","$10,200,000,000"
3,Interest-bearing balances,u-s-bank,"$596,560,000,000","$487,912,000,000","$469,895,000,000","$526,190,000,000","$541,288,000,000","$621,254,000,000","$643,781,000,000","$729,509,000,000",...,"$8,392,000,000","$12,495,000,000","$6,608,000,000","$30,165,000,000","$7,805,000,000","$3,428,000,000","$8,457,000,000","$2,544,000,000","$5,484,000,000","$5,829,000,000"
4,Securities,u-s-bank,"$572,099,000,000","$586,350,000,000","$613,045,000,000","$610,041,000,000","$631,123,000,000","$618,208,000,000","$663,670,000,000","$679,289,000,000",...,"$79,768,000,000","$53,358,000,000","$67,112,000,000","$55,494,000,000","$57,756,000,000","$45,619,000,000","$43,662,000,000","$30,329,000,000","$23,012,000,000","$21,834,000,000"

In [141]:
df_1.to_csv("../../data/raw/banks_basic.csv")
df_ine.to_csv("../../data/raw/banks_income_expense.csv")

In [95]:
"""Need to transform vals from str to int
Also need column-row transforms - not sure we need the dates as cols, even if we do, need to change it to 2022q1 etc
i think 1 link got up and gave legacy data - 95 cols of them amounting to 192 tot cols
Which idiot? - The entirety of the income and expenses section
So, am just gonna put them in a separate df and file cos, diff format
Can just adjust while querying data or transformin, mustn b a prob matching col heads
Am gonna remove all of them for now, can just rerun and add later if desparately req"""

'Need to transform vals from str to int'